{% extends "_main.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "bootstrap5/utils.html" as utils %}

{% block scripts %}
{{ utils.render_static("js", "https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js", local=False) }}
{% endblock %}

{% block main_content %}
{{ utils.render_static("js", "clipboard.js") }}

<div class="row">
    <div class="col">
        {{ wtf.render_form(form) }}
    </div>
</div>
<div class="row mt-3">
    <button
        class="btn btn-success btn-md"
        data-clipboard-text="{{ url_for(".ask_password", paste_id=paste_id, _external=True) }}">
        Copy to clipboard
    </button>
</div>
{% endblock %}
