{% extends "_main.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "bootstrap5/utils.html" as utils %}

{% block scripts %}
{{ super() }}
{{ utils.render_static("js", "https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js", local=False) }}
{% endblock %}

{% block main_content %}
<form method="post">
    {{ form.csrf_token() }}

    <div class="row">
        <div class="col">
            {{ wtf.render_field(form.password) }}
        </div>
    </div>

    <div class="row">
        <div class="col pb-3">
            {{ wtf.render_field(form.submit, class="w-100") }}
        </div>

        <div class="col">
            <a class="btn w-100 btn-success btn-md"
                data-clipboard-text="{{ url_for(".ask_password", paste_id=paste_id, _external=True) }}">
                Copy the link to clipboard
            </a>
        </div>
    </div>
</form>

{{ utils.render_static("js", "clipboard.js") }}
{% endblock %}
