{% from "bootstrap5/utils.html" import render_static, render_messages %}

<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% block styles %}
    {{ bootstrap.load_css() }}
    {{ render_static("css", "styles.css") }}
    {{ render_static("icon", "favicon.ico") }}
    {% endblock %}

    <title>WebBin: The Based Pastebin</title>
    {% endblock %}
</head>

<body>
    <!-- Optional JavaScript -->
    {% block scripts %}
    {{ bootstrap.load_js(nonce=csp_nonce()) }}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js" nonce="{{ csp_nonce() }}"></script>
    {% endblock %}

    <!-- a big banner -->
    <a href="{{ url_for(".index", _external=True) }}" class="text-decoration-none">
        <div class="p-5 bg-primary text-white text-center">
            <h1>WebBin: The Based Pastebin</h1>
            <p>Store your shitty little secrets here!</p>
        </div>
    </a>

    <!-- page content -->
    {% block content %}{% endblock %}
</body>

</html>
