{% extends "_main.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "bootstrap5/utils.html" as utils %}

{% block scripts %}
{{ super() }}
{{ utils.render_static("js", "https://cdn.jsdelivr.net/combine/npm/dayjs@1.11.6,npm/dayjs@1.11.6/plugin/utc.min.js,npm/dayjs@1.11.6/plugin/relativeTime.min.js", local=False) }}
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="fs-4 pb-2">
        {{ utils.render_icon("body-text", color="muted") }}
        {{ paste_title }}
    </div>
</div>

<div class="row">
        <p>
        {{ utils.render_icon("clock-history", color="muted") }}
        <span id="relative_time" data-relative-time="{{ paste_created_at }}"></span>.
        </p>
</div>

<div class="row">
    <form>
        {{ form.csrf_token() }}
        {{ wtf.render_hidden_errors(form) }}
        {{ wtf.render_field(form.text, class="font-monospace", form_type="inline") }}
    </form>
</div>

{{ utils.render_static("js", "dayjs.js") }}
{% endblock %}
